body {
  background-color: #272b30;
  font-family: "Comfortaa", sans-serif;
}

h1 {
  font-family: cursive;
}

.header-img {
  max-height: 30vh;
  object-fit: cover;
}

/* start of navbar section */

.nav {
  margin: -30px auto 0;
  background-color: #3a497b;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
}

.nav-link {
  color: white;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.navbar-nav .nav-link.active {
  color: #09c;
  transition: color 0.5s;
}
.nav-link:hover {
  color: #09c;
  transition: color 0.5s;
}
/* end of navbar section */

/* start of  cards section*/

.cards .card {
  filter: grayscale(0.7);
  transition: transform 0.5s, filter 0.5s 0.1s;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards .card:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.card-title {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 500;
}
.badge-color {
  background-color: #32383e;
}

/* end of  cards section*/

/* start of details section */

.details {
  background-color: #27282b;
}

.details-color{
  background-color: #0CCAF0;
  
}
